# Node modules
node_modules

# Logs
npm-debug.log
yarn-error.log
*.log

# Env files
.env

# Token/session files (ignore heavy or locked parts)
tokens/session1/Default/Network/Cookies

# System files
.DS_Store
Thumbs.db
